@import "tailwindcss";
*{
    scrollbar-width: none;  
    -ms-overflow-style: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar{
    display: none;
}

/* Hide default password toggle in Edge/IE */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Chatbox slide-up animation */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}