@import "tailwindcss";
*{
    scrollbar-width: none;  
    -ms-overflow-style: none;
}

::-webkit-scrollbar,
::-webkit-scrollbar{
    display: none;
}

/* Hide default password toggle in Edge/IE */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}